body{
  background-color: #F5E8D0;
}

.profile-h1{
  margin-top: auto;
  padding: 5px;
}

.profile-view {
    max-width: 600px;
    margin: 40px auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 4%;
    
  }
  
  .profile-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .profile-field {
    background: #f7f7f7;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .field-info {
    display: flex;
    flex-direction: column;
  }
  
  .field-info strong {
    font-size: 14px;
    color: #555;
  }
  
  .field-info span {
    font-size: 18px;
    color: #222;
  }
  
  .edit-btn,
  .logout-btn,
  .delete-btn {
    background-color: #3A3831;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .edit-btn:hover,
  .logout-btn:hover {
    background-color: #3A3831;
  }
  
  .delete-btn {
    background-color: #d9534f;
  }
  
  .delete-btn:hover {
    background-color: #c9302c;
  }
  
  .edit-mode {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .edit-mode input {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  hr {
    margin: 30px 0;
  }
  